
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form action="../StarWars/Person" method="post">
    Search by person id: <input type="search" name="id" value="" />
    <input type="submit" />
</form>
<form action="../StarWars/Planet" method="post">
    Search by planet id: <input type="search" name="id" value="" />
    <input type="submit" />
</form>